/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize: none;overflow: auto;}
body{font: 12px/1.5;font-family: "微软雅黑";}

/*layout*/
#G-lightbox-mask{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000000; opacity: 0.5; z-index: 999;}
#G-lightbox-popup{position: fixed; left: 50%; z-index: 1000;} 

#G-lightbox-popup .lightbox-pic-view{position: relative; border: 5px solid #FFFFFF; border-radius: 3px; overflow: hidden; background:#FFFFFF url(../img/loading.gif) no-repeat center center;}
#G-lightbox-popup .lightbox-pic-view .lightbox-btn{position: absolute; top: 0; width: 40%; height: 100%; z-index: 1;}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn{left: 0;}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn{right: 0;}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show{background: url(../img/prev.png) no-repeat left center; cursor: pointer;}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show{background: url(../img/next.png) no-repeat right center; cursor: pointer;}

#G-lightbox-popup .lightbox-pic-view .lightbox-image{display: block;}
#G-lightbox-popup .lightbox-pic-caption{position: relative; margin: 0 5px; margin-top: -60px; background-color: rgba(0,0,0,0.5); z-index: 2;}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area{color: #FFFFFF; padding: 10px 5px;}

#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-of-index{color: #999;}
#G-lightbox-popup .lightbox-pic-caption .lightbox-clos-btn{position: absolute; width: 27px; height: 27px; background: url(../img/close.png) no-repeat center center; right: 10px; top: 13px; cursor: pointer;}
